In [1]:
## Write a code to create a string with your name and print it

In [2]:
string ="Afaque Mogni"
print(string)

Afaque Mogni

In [3]:
## Write a code to find the length of the string "Hello World

In [4]:
word="Hello World"
print(len(word))

11

In [5]:
##  Write a code to slice the first 3 characters from the string "Python Programming"

In [6]:
word= "Python Programming"
word[0:3]

'Pyt'

In [7]:
## Write a code to convert the string "hello" to uppercase

In [11]:
word2="hello"
textUpper=word2.upper()
print(textUpper)

HELLO

In [12]:
##  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [14]:
word3=" I like apple"
word3.replace('apple','orange')

' I like orange'

In [15]:
##  Write a code to create a list with numbers 1 to 5 and print it

In [22]:
lis=list(range(1,6))
print(lis)

[1, 2, 3, 4, 5]

In [23]:
##  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [24]:
lis.append(10)

In [25]:
print(lis)

[1, 2, 3, 4, 5, 10]

In [26]:
## Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [27]:
lis.remove(3)
print(lis)

[1, 2, 4, 5, 10]

In [28]:
##  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [29]:
lisAlpha=['a','b','c','d']

In [30]:
lisAlpha[1]

'b'

In [31]:
##. Write a code to reverse the list [10, 20, 30, 40, 50].

In [32]:
RevLis=[10,20,30,40,50]
RevLis[::-1]

[50, 40, 30, 20, 10]

In [37]:
## . Write a code to create a tuple with the elements 100, 200, 300 and print it

In [35]:
tup=(100,200,300)
print(type(tup))
print(tup)

<class 'tuple'>
(100, 200, 300)

In [36]:
##  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [51]:
tup1=('red','green','blue','yellow')

In [55]:
tup1[1::]

('green', 'blue', 'yellow')

In [56]:
## Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [62]:
tup2=(10,20,5,15)
from functools import reduce
result=reduce(lambda x,y:x if x<y else y,tup2)
print(result)

5

In [63]:
## . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [65]:
tup3=('dog','cat','rabbit')
index_of_cat=tup3.index('cat')
print(index_of_cat)

1

In [66]:
## . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [67]:
fruits=('apple','grapes','kiwi')
if 'kiwi'  in fruits:
    print("yes")
else:
    print("no")

yes

In [68]:
## Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [70]:
set1 ={'a','b','c'}
print(set1)

{'c', 'a', 'b'}

In [71]:
##  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [73]:
set2={1,2,3,4,5}
set2.clear()
set2

set()

In [74]:
##   Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [79]:
set3={1,2,3,4}

In [80]:
set3.remove(4)
set3

{1, 2, 3}

In [81]:
## . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [83]:
Uset1={1,2,3}
Uset2={3,4,5}
UnionSet=Uset1.union(Uset2)
print(UnionSet)

{1, 2, 3, 4, 5}

In [84]:
##  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [86]:
interSet=Uset1.intersection(Uset2)
print(interSet)

{3}

In [87]:
##  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [88]:
dict1={'name':'Afaque','age':23,'city':'Jharkhand'}
dict1

{'name': 'Afaque', 'age': 23, 'city': 'Jharkhand'}

In [89]:
##  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [93]:
dict2 ={'name':'john','age':25}
dict2['country']='USA'
dict2

{'name': 'john', 'age': 25, 'country': 'USA'}

In [94]:
## . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [97]:
dict3={'name':'Alice','age':30}
print(f" his name is {dict3['name']} and his age is {dict3['age']}")

 his name is Alice and his age is 30

In [98]:
## . Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [99]:
details={'name':'bob','age':22,'city':'New York'}
details.pop('age')

22

In [100]:
details

{'name': 'bob', 'city': 'New York'}

In [101]:
##  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [102]:
home={'name':'Alice','city':'Paris'}
if 'city'in home:
    print("yes the key city is exist")
else:
    print("key does not exist")

yes the key city is exist

In [103]:
##  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [104]:

my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')


my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [105]:
##  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
## result.(replaced)

In [109]:
import random 
random_list=[random.randint(1,100) for i in range(5)]
random_list.sort()
print(random_list)

[9, 50, 54, 56, 100]

In [110]:
##  Write a code to create a list with strings and print the element at the third index.

In [111]:

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

print("Element at index 3:", my_list[3])

Element at index 3: date

In [112]:
##  Write a code to combine two dictionaries into one and print the result

In [115]:
my_dict={'name':'afaue','age':23}
my_dict1={'city': 'New York', 'country': 'USA'}
merged_dict={**my_dict,**my_dict1}
print(merged_dict)

{'name': 'afaue', 'age': 23, 'city': 'New York', 'country': 'USA'}

In [116]:
## . Write a code to convert a list of strings into a set.

In [118]:
string_list=['apple','bnana','grapes','kiwi']
string_set=set(string_list)
print(string_set)
print(type(string_set))

{'apple', 'kiwi', 'bnana', 'grapes'}
<class 'set'>